*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container{
    width:300px ;
    height:550px;
    border: 1px solid black;
    padding: 10px 0px;
    border-radius: 20px;
background: #f3f2f2;
background:#f3f2f2;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;


}
.con-margin{
    width: 95%;
    height: 95%;

}
header{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 0px 10px;
    position: relative;
    z-index:2;
}
.menu2{
    font-size: 24px;
    visibility: hidden;
}
.menu{
    width: 25px;
    height: 25px;
    position:absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    transition: all;
    transition-duration: 1s;
    right: 87%;
    cursor: pointer;
}
.menu-content.active{
    right: 22.5%;
}
.menu.active{
    right: 33%;
}


.menu-line{
    width: 100%;
    height: 24px;
}
.menu-line div{
width: 100%;
height: 3px;
background-color: black;
margin-top: 5px;
transition: all;
transition-duration: 1s;

}
.menu-line div:nth-child(2){
    transition: all;
    transition-duration: 0.1s;
}
.menu.active .menu-line div:nth-child(1){
    transform: rotateZ(45deg) translateY(4px) translateX(4px);
   }
   .menu.active .menu-line div:nth-child(3){
    transform: rotateZ(-45deg) translateY(-8px) translateX(7px);
   }
   .menu.active .menu-line div:nth-child(2){
    visibility:hidden;
   }



.mode{
    width: fit-content;
    height: 24px;
    font-size: 24px;
}
.dark{
    display: none;
}

.menu-content{
    position: absolute;
    width: 80%;
    height:400px;
    background-color:rgb(41, 41, 41);
    top: -7px;
   right:120%;
    z-index: 4;
    padding: 40px 0px 10px 0px;
    color: white;
    transition: all;
    transition-duration: 1s;

}

.menu-container{
    width: 100%;
    height:80%;
    overflow: scroll;
    scrollbar-width: 1px;
}
.menu-content p:nth-child(1){
    font-weight: bold;
    color: white;
    width: 100%;
  
}
.menu-content p{
    box-sizing: border-box;
    padding: 0px 0px 0px 10px;
    margin-top: 10px;
    font-weight: bold;
}
.menu-content ul{
    width: 100%;
    height: fit-content;
    list-style-type: none;
    margin-top: 10px;
}
.menu-container{
    padding-bottom: 20px;
}
.menu-container ul li{
    width: 100%;
    height: 40px;
display: flex;
align-items: center;
background-size: 400%;
cursor: pointer;

}
.menu-container ul li:hover{
    background: rgba(210, 210, 210, 1);
    background: linear-gradient(90deg, rgba(210,210,210,1) 26%, rgba(24,22,22,1) 52%, rgba(87,87,87,1) 100%);
    background-size: 400%;
    animation-name:back;
animation-duration: 4s;
animation-iteration-count: infinite;
}


@keyframes back {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 200%;
    }
    100%{
        background-position: 400%;
    }
}








.list-con{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;

    gap: 20px;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: rgb(41, 41, 41);
}
.about{
    width: 100%;
    height: 30px;
margin-top: 20px;

}
.about ul{
    list-style-type: none;
width: 100%;
height: 30px;
}
.about ul li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    font-size: 20px;
    gap: 10px;
    box-sizing: border-box;
    padding-left: 20px;

}
.space{
    width: 100%;
    height: 500px;
    overflow:scroll;
    box-sizing: border-box;
    padding-top: 10px;
    position: relative;
   z-index: 1;


}
::-webkit-scrollbar{
    width: 1px;
}

.space-flex{
    width:100%;
    height: fit-content;
}








/* standard calculator */
.standard-calc{
    width: 100%;
    height:500px;
    display: block;
    z-index: 1;
  
}
.container1{
    width:100%;
    height:100%;
    border-radius: 29px;
background: #f3f2f2;
background:#f3f2f2;
padding: 40px 10px 0px 10px;
position: relative;
box-sizing: border-box;
}
.calculator{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    box-sizing: border-box;
}
.cal-margin{
    width: 100%;
    height:fit-content;
}
.input-type{
    width: 100%;
    height:100px;
    border-radius: 19px;
    background: #f3f2f2;
    box-shadow: inset 5px 5px 0px #616161,
                inset -5px -5px 0px #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
}
.input-margin{
    width: 90%;
    height:fit-content;
    display: flex;
    align-items: center;


}
.input-c{
    width: 100%;
    height: 50px;
}
.input-margin p{
    font-size: 30px;
    text-align: right;
}
.input-margin .input{
width: 100%;
height: 30px;
background-color: red;

}
.input-margin .input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    background-color:#f3f2f2 ;
    text-align: right;
}
.buttons{
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
}
.buttons-margin{
    height: fit-content;
display: flex;
flex-wrap: wrap;
gap: 13px;
row-gap: 10px;
width: fit-content;

}
.buttons-margin button{
    border: initial;
    width: 55px;
    height: 55px;
    background-color: #f3f2f2;
    border-radius: 20%;
    background: linear-gradient(145deg, #ffffff, #dbdada);
    box-shadow:  5px 5px 0px #aaa9a9;    
  font-weight: bold;
  font-size: 20px;
  transition: all;
  transition-duration: .1s;
  cursor: pointer;
}
.buttons-margin button:active{
    transform: translateX(3px) translateY(3px);
    box-shadow:  0px 0px 0px #aaa9a9; 

}
.buttons-margin button:nth-child(16){
  
}
/* date calculation */
.date{
    width: 100%;
    height: 100%;
    display: none;
}
.date-calculation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;
    border-radius: 20px;
}
.date-margin{
    width: 95%;
    height: 95%;

   
}
.date-heading{
    text-align: center;
}
.date-type{
    width: 100%;
    height: 24px;
  margin-top: 10px;

  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
  cursor: pointer;
}
.date-type-selection{
    font-size:20px;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    left:-10px;
    display: none;
    cursor: pointer;

}
.date-type-selection p{
    width: 100%;
    height:100%;
    border: 1px solid black;
    background-color: #616161;
    padding: 5px;
}
/* .date-type p:hover ~ .date-type-selection{
display: block;
}
.down-arrow:hover ~ .date-type-selection{
    display: block;
    transform: translateY(-35px);
} */
.from{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding:10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.from-calender input{
    width: 60%;
    height: 25px;
}
/* date difference start here */
.date-differnce{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px 10px 10px 10px;
    display:block;
 

}
/* difference between dates start here */
.difference-between-dates{
    width: 100%;
    height: 100%;
    display:none;
    animation-name: cal;
    animation-duration: 4s;
    animation-delay: 7s;
}


.to{
width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
gap: 10px;
}
.to-calender input{
    width: 60%;
    height: 25px;
}
.date-differ-result{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-or-subtract-days{
    display: none;
}

/* add or subtract dates start here */
.date-radio{
    width: 100%;
    height: 40px;
    display:flex;
    gap: 20px;
    animation-name: cal;
    animation-duration: 4s;
    animation-delay: 6s;
}
.add{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.subtract{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.date-radio input{
    width: 16px;
    height: 16px;
}

.year{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.year .yearm select{
    width: 60px;
    height: 30px;
}
.add-subtract-result{
    width: 100%;
    height: fit-content;
    margin-top: 0px;
}





/* currency coverter start here */
.currency{
    width: 100%;
    height:477px;
    display: none;

}
.currency-converter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;
}
.currency-converter-margin{
    width: 90%;
    height: 95%;

}
.currency-para{
    text-align: center;
    font-weight: bold;
}
.currency-one{
    width: 100%;
    height: fit-content;
    margin-top: 15px;
}
.currency-one-number{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items:flex-end;
    gap:5px;
}
.currency-one-number p:nth-child(2){
    font-size: 30px;
}
.currency-one-number p:nth-child(1){
    font-size:25px;
    width: fit-content;
    height: fit-content;
}
.currency-one-slection{
    width: 50%;
    height: 30px;
    margin-top: 5px;

}
.currency-one-slection select{
width: 100%;
height: 100%;
border: none;
background-color: #f3f2f2;
font-weight: bold;
}
.currency-result{
    width: 100%;
    height: fit-content;
}
.currency-result p:nth-child(1),p:nth-child(2){
    font-size: 14px;
}
.currency-result p:nth-child(3){
    font-size: 17px;
    margin-top: 10px;
}
.currency-buttons{
    width: 90%;
    height:fit-content ;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
margin: 10px auto;

    justify-content: center;
  
}
.currency-buttons button{
    width: 55px;
    height:30px;
    border: initial;
    background: linear-gradient(145deg, #ffffff, #dbdada);
    box-shadow:  5px 5px 0px #aaa9a9;    
    transition: all;
    transition-duration: .5s;
    font-weight: bold;
}
.currency-buttons button:active{
    transform: translateY(2px) translateX(2px);
    box-shadow: none;
}
/* volume converter start here */
.volume{
    width: 100%;
    height: 473px;
    display: none;
}
.volume-converter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;
}
.volume-converter-margin{
    width: 90%;
    height: 95%;

}
.volume-head{
    text-align: center;
}
.volume-input-one{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}
.volume-input-one p{
    font-size: 35px;
}
.volume-one-select{
    width: 100%;
    height: fit-content;
}
.volume-one-select select{
    width: 60%;
    height: 30px;
    border: initial;
    background-color: #f3f2f2;
}
.volume-one-select select option{
  padding: 10px;
}
.volume-result-comparison{
    width: 100%;
    height: fit-content;
margin-top: 5px;
}
.volume-result-comparison p{
    font-size: 14px;
}
.volume-buttons{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:30px;
}
.volume-buttons button{
    width: 55px;
    height:40px;
    border: initial;
    background: linear-gradient(145deg, #ffffff, #dbdada);
    box-shadow:  5px 5px 0px #aaa9a9;    
    transition: all;
    transition-duration: .5s;
    font-weight: bold;
}
.volume-buttons button:active{
    transform: translateY(2px) translateX(2px);
    box-shadow: none;
}

/* length converter start here */
.length{
    width: 100%;
    height: 473px; 
    display: none;
}
.length-converter{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;


}
.length-convert-margin{
    width: 90%;
    height: 95%;
  
}
.length-head{
    width: 100%;
    height: fit-content;
    text-align: center;
}
.length-input-one{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}
.length-one-select{
    width: 100%;
    height: fit-content;
}
.length-one-select select{
    width: 60%;
    height: 30px;
    border: initial;
    background-color: #f3f2f2;
}
.length-input-one p{
    font-size: 35px;
}


/* weight converter start here */
.weight{
    width: 100%;
height: 473px;
display: none;
}
.weight-mass-converter{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background:#f3f2f2;
box-shadow: inset -5px -5px 0px #616161,
inset 1px 1px 0px #adadad;
border-radius:20px ;
}
.weigth-mass-margin{
    width: 90%;
    height: 95%;
}

/* temerature converter start here */
.temperature{
    width: 100%;
    height: 473px;
    display: none;
}
.temperature-converter{
    width: 100%;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
background:#f3f2f2;
box-shadow: inset -5px -5px 0px #616161,
inset 1px 1px 0px #adadad;
border-radius:20px ;
}
.temperature-margin{
    width:90%;
    height: 95%;
}

/* energy converter start here */
.energy{
    width: 100%;
    height: 473px;
    display: none;
}
.energy-converter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;
}
.energ-convert-margin{
    width:90%;
    height: 95%;

}

/* area converter start here */
.area{
    width: 100%;
    height: 473px;
    display: none;
}
.area-converter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;
}
.area-converter-margin{
    width:90%;
    height: 95%;

}

/* speed converter start here */
.speed-converter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f3f2f2;
    box-shadow: inset -5px -5px 0px #616161,
    inset 1px 1px 0px #adadad;
    border-radius:20px ;
    display: none;
}
.speed-converter-margin{
    width:90%;
    height: 95%;
}

.standard-calc{
margin-bottom: 10px;
}
.space-flex{
    width: 100%;
    height: fit-content;
    animation-name: ani;
    animation-duration:60s;
}
/* .page.active{
    display: block;
} */
@keyframes a {
    10%{
        transform: translateY(0px);
    }
    12%{
        transform: translateY(-500px);
    }
    22%{
        transform: translateY(-500px);
    }
    24%{
        transform: translateY(-1000px);
    }
    34%{
        transform: translateY(-1000px);
    }
    36%{
        transform: translateY(-1500px);
    }
    46%{
        transform: translateY(-1500px);
    }
    48%{
        transform: translateY(-2000px);
    }
    58%{
        transform: translateY(-2000px);
    }
    60%{
        transform: translateY(-2500px);
    }
    70%{
        transform: translateY(-2500px);
    }
    72%{
        transform: translateY(-3000px);
    }
    82%{
        transform: translateY(-3000px);
    }
    84%{
        transform: translateY(-3500px);
    }
    100%{
        transform: translateY(-3500px);
    }
}






